* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(181, 153, 119);
}

.container {
    border: 4px black solid;
    border-radius: 5%;
    width: 500px;
    margin: 100px 300px 0px 200px;
    font-size: 30px;
    overflow: hidden;
}

.screen {
    height: 50px;
    width: 80%;
    margin: 10px;
    border: 1px grey solid;
}

.bottom {
    display: flex;
    justify-content: space-between;
}

.numbers {
    display: flex;
    flex-wrap: wrap;

}

.numbers div {
    margin: 10px 20px 10px 50px;
    border: 1px solid black;
    border-radius: 75%;
    padding: 15px;
    background-color: gray;
}

.numbers div:hover {
    box-shadow: 10px 10px 5px 0px rgba(0, 0.75, 0, 0.75);
}
.numbers div:active {
    transform: scale(0.95);
}
.clear{
    background-color: none;
    font-size: 50px;
}

.operators {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 10px 20px 0px 0px;
    font-size: 35px;
}

.operators div {
    border: 1px solid black;
    border-radius: 75%;
    padding: 5px;
    background-color: orangered;
}
.operators div:hover {
    box-shadow: 10px 10px 5px 0px rgba(0, 0.75, 0, 0.75);
}

.operators div:active {
    transform: scale(0.95);
}
